
﻿body
{
	background-color: #782525;
	}

#page
{
	width: 1000px;
	height: auto;
	margin: auto;
	background-color: #F6D155;
}


#gornyPanel
{
	width: 100%;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 1px;
	height: 100px;
	
}

#logo
{
	width: 272px;
	float: left;
	height: 140px;
}

#banner
{
	width: 728px;
	float: left;
	height: 100px;
	float: right;
}


#gornyBanner
{
	width: 100%;
	height: 90px;
	
	background-color: #ffffff;
	text-align: center;
	
}

#dolnyBanner
{
	width: 100%;
	height: 50px;
	background-color: white;
	text-align: center;
}







ul {
	height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li
{
	float: right;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
	background-color:#004B8D;
    text-align: center;
    padding: 12px 5px ;
    text-decoration: none;
	width: 160px;
	border: 1px solid black;
	border-radius: 12px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #5484A4;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#F6D155;
    min-width: 160px;
	border: 1 px solid #F6D155;
	border-radius: 12px;
	

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #5484A4; }

.dropdown:hover .dropdown-content {
    display: block;
}



input[type=password], select {
    width: 250px;
    padding: 12px 20px;
    margin:   8px 0px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
	text-align: center;
}

input[type=text2], select {
    width: 300px;
    padding: 12px 20px;
    margin: 30px 100px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
	text-align: center;
}

/*  Nowosci  */

}
input[type=text_1], select {
   width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    box-sizing: border-box;
	
}
input[type=text2_1], select {
    width: 300px;
    padding: 12px 20px;
    margin: 30px 100px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    box-sizing: border-box;
	
}

input[type=password_1], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
}
input[type=number_1], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
	text-align: center;
	
}
.inputborder_1
{
	border-radius: 12px;
	width: 260px;
	margin-left: 121px;
	border: 1px solid black;
}

.inputborder{
	
	border-radius: 12px;
	border: 3px solid black;
}

#text
{
	font-size: 25px;
	
}
#clear{
	
	clear: both;
}

#logowanie
{
	
	margin-top: 160px;
	width: 250px;
	height: 250px;
	border: 2px solid black;
	text-align: center;
	padding: 10px;
	margin-left: 70px;
	border-radius: 12px;
	background-color: white;
	float: left;
	
	
}

#send_to_registry
{
	border: 2px solid black;
	border-radius: 12px;
	background-color: white;
	width: 300px;
	height: 340px;
	text-align: center;
	padding: 5px;
	margin-top: 110px;
	margin-left: 610px;
	
	
}




#blad
{
	margin-top: 10px;
	color: red;
	
}



#regulamin
{
	float: left;
}

#g-recaptcha
{
	float: left;
}

#przycisk_rejestracji
{
	margin-top: 140px;
	
}

#zawartosc
{
	float: center;
	margin-left: 10px;
	
}

#zawartosc2
{
	float:left;
	
	
}




/*  Nowosci  */




#formularz
{
	
	float: auto;
	background-color: white;
	margin: auto;
	margin-top: 60px ;
	width: 480px;
	height: 290px;
	border: 4px solid black;
	text-align: center;
	padding: 10px;
	border-radius: 12px;
}


#szukajForm
{
	margin: auto;
	background-color: #004B8D;
	font-size: 20px;
	border-radius: 14px;
	border: 1px solid #004B8D ;
	text-align: center;
	width: 50%;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
	color:white;
	
	
}

  

#szukajForm:hover{
	color: white;
	background-color: #004B8D;
	box-shadow: 0px 0px 5px 5px #95DEE3;
	transition-duration: 0.4s;
}
.inputstyle1
{
	width: 70px;
	height: 40px;
	
}

.inputstyle2
{
	width: 200px;
	height: 40px;
	
	
}
.inputstyle3
{
	width: 70px;
	height: 40px;
	margin-left:20px;
}
.inputstyle4
{
	width: 200px;
	height: 50px;
	
	
}


#ramkaWyniki
{
	margin-top: 40px;
}











/*
tabela w wyniku wyswietlania elementów bazy danych


*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




#mojeKonto
{
	margin-left: 25%;
	background-color: yellow;
	font-size: 20px;
	border-radius: 14px;
	border: 1px solid green;
	text-align: center;
	width: 50%;
	padding: 10px;
	cursor: pointer;
	
}

.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #004B8D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 660px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button
{
	background-color: #004B8D;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 12px;
}

.button3 {
  display: inline-block;
  border-radius: 12px;
  background-color: #004B8D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 380px;
  height: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 60px;
  float: left;
  
  
  
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '  >>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}

#Mbutton
{
  float: right;
  height: 30px;
  width: 50px;
  
  
}

#Abutton
{
	float: left;
	margin-left: 90px;
	height: 30px;
  width: 50px;
}

#dane
{
	margin-top: 180px;
	border: 4px solid black;
	border-radius: 12px;
	width: 600px;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: white;
	
}
#ustawienia1
{
	margin-top: 120px;
	border: 4px solid black;
	border-radius: 12px;
	text-align: center;
	width: 500px;
	height: 370px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#ustawienia2
{
	margin-top: 70px;
	border: 4px solid black;
	border-radius: 12px;
	width: 500px;
	height: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	
}

.panelOgloszenie
{
	background-color: white;
	width: 950px;
	height: 280px;
	border: 4px solid black;
	border-radius: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

}

.zdjecie
{
	margin-top: 3%;
	margin-left: 1%;
	float: left;
	
	
}

.zdjecieobok
{
	margin-top: 1%;
	margin-left: 3%;
	height: 90%;
	width: 67%;
	background-color: white;
	float:left;
	border: 3px solid black;
	border-radius: 12px;
}




.miasto
{
	margin-left: 5%;
	margin-top: 2%;
	font-size: 24px;
}

.kg
{
	
	margin-left: 5%;
	margin-top: 20px;
	float: right;
	font-size: 24;
	
}


.zasieg
{
	margin-top: 20px;
	float: left;
	font-size: 24;
}



.telefon
{
	margin-top: 20px;
	clear: both;
	font-size: 24;
	float: left;
}


img.resize{
	width: 260px;
	height: 200px;
}

#przyciski
{
	width: 1000px;
	margin-top: 140px;
	
	
	
}
/*  Odloszenie add  */
#blad
{
	margin-top: 10px;
	color: red;
	
}

#rejestracja
{
	background-color: white;
	margin-top: 100px ;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 630px;
	border: 3px solid black;
	text-align: center;
	padding: 15px;
	
	border-radius: 12px;
	
}

#regulamin
{
	float: left;
}

#g-recaptcha
{
	float: left;
}

#przycisk_rejestracji
{
	margin-top: 140px;
	
}



#rejestracja_p
{
	
	margin-left: 40px;;
	
	
}



#oferta
{
	margin-top: 50px;
	margin-left: 30px;
	width: 930px;
	height: 160px;
	border: 2px solid black;
	border-radius: 12px;
	background-color: white;
}
#zdjecie
{
	float: left;
	
	
}





#opis
{
	
	
	float:left;
	margin-top: 30px;
	margin-left: 90px;
	height: 10px;
	width: 170px;
	font-size:15px;
	border: 3px solid black;
	
}

#kontakt
{
	 float:left;
	margin-top: 90px;
	margin-left: 50px;
	height: 20px;
	width: 100px;
	 
	
}

#ogloszenie_add
{
	width: 500px;
	height: 850px;
	border: 4px solid black;
	border-radius: 12px;
	margin: auto;
	margin-top: 70px;
	background-color: white;
	
}
#ogl
{
	width: 500px;
	height: 900px;
	border: 4px solid black;
	border-radius: 12px;
	margin: auto;
	margin-top: 70px;
	background-color: white;
	
}
#text
{
	font-size: 25px;
	
}
#marka_model
{
	
	width: 250px;
	margin: auto;
	
}
#r_ogl
{
	margin: auto;
}
#op
{
	margin-left: 80px;
}

textarea
{
	width: 300px;
	height: 80px;
	padding: 12px 20px;
	border-radius: 12px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
	margin: auto;
	border: 3px solid black;
}
#zasieg_m
{
	width: 170px;
	margin-left:100px;
	float:left;
}
#zasieg_km
{
	width: 120px;
	margin-left:10px;
	float:left;
}
#r_cena
{
	width: 200px;
	margin-left: 80px;
	float: left;
}
#c_cena
{
	width: 130px;
	margin-left: 20px;
	float: left;
}

#add_photo
{
	margin: auto;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 12px;
	height: 150px;
	width: 400px;
}
#nazwa_towar
{
	
	width: 250px;
	margin: auto;
	
}

#start
{
	width: 200px;
	margin-left: 40px;
	float: left;
}
#cel
{
	width: 200px;
	margin-left: 20px;
	float: left;
}

#cena
{
	width: 130px;
	margin-left: 40px;
	float: left;
}
#waga
{
	width: 190px;
	margin-left: 90px;
	float: left;
}
#op_2
{
	margin-left: 70px;
	
	width: 160px;
}
#send_photos
{
	width: 200px;
	margin: auto;
}
#a_o
{
	margin-left: 100 px;
}

#formularz
{
	width: 500px;
	height: 300px;
	margin: auto;
	border: 1px solid black;
	border-radius: 12px;
	margin-top: 50px;
	text-align: center;
}
#send_formularz
{
	margin: left;
	
}

#a
{
	display: inline-block;
}


